:root{
    --transparet :#F5F5F5;
    --cream:#FFFcd8 ;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* NAVBAR */
.nav-item:hover{

    text-decoration: underline 2px black;
}

/* ABOUT SECTION */
.section img {
    max-height: 400px;
    object-fit: cover;
  }
  .about-c:hover {
    background-color: rgb(219, 68, 68);
  }
  
 