:root{
    --transparet :#F5F5F5;
    --cream:#FFFcd8 ;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav-item:hover{

    text-decoration: underline 2px black;
}
.form{
    background-color: var(--transparet);
    width: 20vw;
}
/* ABOUT SECTION */

.section, .section2 , .section3 , .section4 {
    width: 100%;
    min-width: 100vh;
}
.ab-c {
    width: 80%;
    display: block;
   margin: 0px ;

}
.content-section {
    width: 55%;
    
}
.img-sec{
    float: center;
    width: 30%;
}
.about-c:hover{
    background-color: rgb(219, 68, 68);
}